test.entity.rpkg
test.entity/chunk1patch2.meta
test.entity/TBLU/002358C35FE1FD13.TBLU
test.entity/TBLU/002358C35FE1FD13.TBLU.meta
test.entity/TEMP/00E63B961C72ADFF.TEMP
test.entity/TEMP/00E63B961C72ADFF.TEMP.meta